/* Reset básico para garantir que estilos padrão não interfiram */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('./pexels-hngstrm-2341290.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Largura do codificador */
}

h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

textarea, input[type="number"] {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

#resultOutput {
    background-color: #f1f1f1;
    color: #333;
}
